USE [master]
GO
/****** Object:  Database [WebChef]    Script Date: 02/05/2019 18:29:11 ******/
CREATE DATABASE [WebChef]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebChef', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017\MSSQL\DATA\WebChef.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebChef_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017\MSSQL\DATA\WebChef_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebChef].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebChef]
GO
/****** Object:  Table [dbo].[Acao]    Script Date: 02/05/2019 18:29:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acao](
	[id_acao] [int] NOT NULL,
	[nome] [varchar](50) NULL,
	[descricao] [varchar](90) NULL,
 CONSTRAINT [PK_Acao] PRIMARY KEY CLUSTERED 
(
	[id_acao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingrediente]    Script Date: 02/05/2019 18:29:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingrediente](
	[id_ingrediente] [int] NOT NULL,
	[designacao] [varchar](50) NULL,
	[imagem] [varchar](100) NULL,
 CONSTRAINT [PK_Ingrediente] PRIMARY KEY CLUSTERED 
(
	[id_ingrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngredienteLocalizacao]    Script Date: 02/05/2019 18:29:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngredienteLocalizacao](
	[id_localizacao] [int] NOT NULL,
	[id_ingrediente] [int] NOT NULL,
 CONSTRAINT [PK_IngredienteLocalizacao] PRIMARY KEY CLUSTERED 
(
	[id_localizacao] ASC,
	[id_ingrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngredientePreferidoUtilizador]    Script Date: 02/05/2019 18:29:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngredientePreferidoUtilizador](
	[id_ingrediente] [int] NOT NULL,
	[id_utilizador] [int] NOT NULL,
	[favorito] [char](1) NULL,
 CONSTRAINT [PK_IngredientePreferidoUtilizador] PRIMARY KEY CLUSTERED 
(
	[id_ingrediente] ASC,
	[id_utilizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localizacao]    Script Date: 02/05/2019 18:29:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localizacao](
	[id_localizacao] [int] NOT NULL,
	[nome] [varchar](50) NULL,
	[coordenadas] [varchar](50) NULL,
 CONSTRAINT [PK_Localizacao] PRIMARY KEY CLUSTERED 
(
	[id_localizacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passo]    Script Date: 02/05/2019 18:29:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passo](
	[id_passo] [int] NOT NULL,
	[descricao] [varchar](300) NULL,
	[timestamp] [time](7) NULL,
	[id_acao] [int] NULL,
 CONSTRAINT [PK_Passo] PRIMARY KEY CLUSTERED 
(
	[id_passo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PassoIngrediente]    Script Date: 02/05/2019 18:29:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassoIngrediente](
	[id_passo] [int] NOT NULL,
	[id_ingrediente] [int] NOT NULL,
	[quantidade] [float] NULL,
 CONSTRAINT [PK_PassoIngrediente] PRIMARY KEY CLUSTERED 
(
	[id_passo] ASC,
	[id_ingrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receita]    Script Date: 02/05/2019 18:29:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receita](
	[id_receita] [int] NOT NULL,
	[nome] [varchar](75) NULL,
	[descricao] [varchar](300) NULL,
	[informacao_nutricional] [varchar](100) NULL,
	[duracao_prevista] [time](7) NULL,
	[link_ajuda] [varchar](100) NULL,
	[imagem] [varchar](100) NULL,
	[nr_pessoas] [int] NULL,
	[dificuldade] [varchar](10) NULL,
	[categoria] [varchar](50) NULL,
 CONSTRAINT [PK_Receita] PRIMARY KEY CLUSTERED 
(
	[id_receita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Receita] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[ReceitaIngrediente]    Script Date: 02/05/2019 18:29:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceitaIngrediente](
	[id_receita] [int] NOT NULL,
	[id_ingrediente] [int] NOT NULL,
	[quantidade] [float] NULL,
 CONSTRAINT [PK_ReceitaIngrediente] PRIMARY KEY CLUSTERED 
(
	[id_receita] ASC,
	[id_ingrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceitaPasso]    Script Date: 02/05/2019 18:29:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceitaPasso](
	[id_passo] [int] NOT NULL,
	[id_receita] [int] NOT NULL,
	[numero] [int] NULL,
 CONSTRAINT [PK_ReceitaPasso] PRIMARY KEY CLUSTERED 
(
	[id_passo] ASC,
	[id_receita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceitaUtilizador]    Script Date: 02/05/2019 18:29:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceitaUtilizador](
	[id_receita] [int] NOT NULL,
	[id_utilizador] [int] NOT NULL,
	[duracao] [time](7) NULL,
	[favorita] [char](1) NULL,
	[avalicao_dificuldade] [varchar](10) NULL,
	[dia_da_semana] [varchar](11) NULL,
	[classificacao] [int] NULL,
	[data_realizacao] [date] NULL,
	[anotacao] [varchar](50) NULL,
 CONSTRAINT [PK_ReceitaUtilizador] PRIMARY KEY CLUSTERED 
(
	[id_receita] ASC,
	[id_utilizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilizador]    Script Date: 02/05/2019 18:29:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizador](
	[id_utilizador] [int] NOT NULL,
	[nome] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](25) NULL,
 CONSTRAINT [PK_Utilizador] PRIMARY KEY CLUSTERED 
(
	[id_utilizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IngredienteLocalizacao]  WITH CHECK ADD  CONSTRAINT [FK_IngredienteLocalizacao_Ingrediente] FOREIGN KEY([id_ingrediente])
REFERENCES [dbo].[Ingrediente] ([id_ingrediente])
GO
ALTER TABLE [dbo].[IngredienteLocalizacao] CHECK CONSTRAINT [FK_IngredienteLocalizacao_Ingrediente]
GO
ALTER TABLE [dbo].[IngredienteLocalizacao]  WITH CHECK ADD  CONSTRAINT [FK_IngredienteLocalizacao_Localizacao] FOREIGN KEY([id_localizacao])
REFERENCES [dbo].[Localizacao] ([id_localizacao])
GO
ALTER TABLE [dbo].[IngredienteLocalizacao] CHECK CONSTRAINT [FK_IngredienteLocalizacao_Localizacao]
GO
ALTER TABLE [dbo].[IngredientePreferidoUtilizador]  WITH CHECK ADD  CONSTRAINT [FK_IngredientePreferidoUtilizador_Ingrediente] FOREIGN KEY([id_ingrediente])
REFERENCES [dbo].[Ingrediente] ([id_ingrediente])
GO
ALTER TABLE [dbo].[IngredientePreferidoUtilizador] CHECK CONSTRAINT [FK_IngredientePreferidoUtilizador_Ingrediente]
GO
ALTER TABLE [dbo].[IngredientePreferidoUtilizador]  WITH CHECK ADD  CONSTRAINT [FK_IngredientePreferidoUtilizador_Utilizador] FOREIGN KEY([id_utilizador])
REFERENCES [dbo].[Utilizador] ([id_utilizador])
GO
ALTER TABLE [dbo].[IngredientePreferidoUtilizador] CHECK CONSTRAINT [FK_IngredientePreferidoUtilizador_Utilizador]
GO
ALTER TABLE [dbo].[Passo]  WITH CHECK ADD  CONSTRAINT [FK_Passo_Acao] FOREIGN KEY([id_acao])
REFERENCES [dbo].[Acao] ([id_acao])
GO
ALTER TABLE [dbo].[Passo] CHECK CONSTRAINT [FK_Passo_Acao]
GO
ALTER TABLE [dbo].[PassoIngrediente]  WITH CHECK ADD  CONSTRAINT [FK_PassoIngrediente_Ingrediente] FOREIGN KEY([id_ingrediente])
REFERENCES [dbo].[Ingrediente] ([id_ingrediente])
GO
ALTER TABLE [dbo].[PassoIngrediente] CHECK CONSTRAINT [FK_PassoIngrediente_Ingrediente]
GO
ALTER TABLE [dbo].[PassoIngrediente]  WITH CHECK ADD  CONSTRAINT [FK_PassoIngrediente_Passo] FOREIGN KEY([id_passo])
REFERENCES [dbo].[Passo] ([id_passo])
GO
ALTER TABLE [dbo].[PassoIngrediente] CHECK CONSTRAINT [FK_PassoIngrediente_Passo]
GO
ALTER TABLE [dbo].[ReceitaIngrediente]  WITH CHECK ADD  CONSTRAINT [FK_ReceitaIngrediente_Ingrediente] FOREIGN KEY([id_ingrediente])
REFERENCES [dbo].[Ingrediente] ([id_ingrediente])
GO
ALTER TABLE [dbo].[ReceitaIngrediente] CHECK CONSTRAINT [FK_ReceitaIngrediente_Ingrediente]
GO
ALTER TABLE [dbo].[ReceitaIngrediente]  WITH CHECK ADD  CONSTRAINT [FK_ReceitaIngrediente_Receita] FOREIGN KEY([id_receita])
REFERENCES [dbo].[Receita] ([id_receita])
GO
ALTER TABLE [dbo].[ReceitaIngrediente] CHECK CONSTRAINT [FK_ReceitaIngrediente_Receita]
GO
ALTER TABLE [dbo].[ReceitaPasso]  WITH CHECK ADD  CONSTRAINT [FK_ReceitaPasso_Passo] FOREIGN KEY([id_passo])
REFERENCES [dbo].[Passo] ([id_passo])
GO
ALTER TABLE [dbo].[ReceitaPasso] CHECK CONSTRAINT [FK_ReceitaPasso_Passo]
GO
ALTER TABLE [dbo].[ReceitaPasso]  WITH CHECK ADD  CONSTRAINT [FK_ReceitaPasso_Receita] FOREIGN KEY([id_receita])
REFERENCES [dbo].[Receita] ([id_receita])
GO
ALTER TABLE [dbo].[ReceitaPasso] CHECK CONSTRAINT [FK_ReceitaPasso_Receita]
GO
ALTER TABLE [dbo].[ReceitaUtilizador]  WITH CHECK ADD  CONSTRAINT [FK_ReceitaUtilizador_Receita] FOREIGN KEY([id_receita])
REFERENCES [dbo].[Receita] ([id_receita])
GO
ALTER TABLE [dbo].[ReceitaUtilizador] CHECK CONSTRAINT [FK_ReceitaUtilizador_Receita]
GO
ALTER TABLE [dbo].[ReceitaUtilizador]  WITH CHECK ADD  CONSTRAINT [FK_ReceitaUtilizador_Utilizador] FOREIGN KEY([id_utilizador])
REFERENCES [dbo].[Utilizador] ([id_utilizador])
GO
ALTER TABLE [dbo].[ReceitaUtilizador] CHECK CONSTRAINT [FK_ReceitaUtilizador_Utilizador]
GO
USE [master]
GO
