@model WebChef.Models.PassoIngrediente

@{
    ViewData["Title"] = "AdicionarIngredientes";
}

<h1>Adicionar Ingrediente ao Passo com ID @ViewBag.idPasso</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdicionarIngredientes">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="id_ingrediente" class="control-label"></label>
                <select asp-for="id_ingrediente">
                    @foreach (var ing in ViewBag.ingredientes)
                    {
                        <option value=@ing.id_ingrediente>@ing.designacao</option>
                    }
                </select>
                <span asp-validation-for="id_ingrediente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantidade" class="control-label"></label>
                <input asp-for="quantidade" class="form-control" />
                <span asp-validation-for="quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input name="submit" type="submit" value="Adicionar Ingrediente" class="btn btn-primary" />
            </div>
        </form>
        <a asp-controller="ReceitaView" asp-action="RegistarPassos" asp-route-passo=@ViewBag.passo class="btn btn-danger">Concluir</a>
    </div>
</div>

