@model WebChef.Models.Passo[]

@{
    ViewData["Title"] = "ConfecionaReceita";
}

<h1>@Model[@ViewBag.passo-1].descricao</h1>


<h2>@Model[@ViewBag.passo - 1].Acao.descricao</h2>

<dd class="col-sm-10">
    <a href=@ViewBag.link>Link do passo</a>

</dd>

@if(@ViewBag.passo > 1){
    <a asp-controller="ReceitaView" asp-action="ConfecionaReceita" asp-route-id=@ViewBag.id asp-route-passo=@ViewBag.anterior class="btn btn-secondary">
        Anterior
    </a>
}

@if(@ViewBag.passo + 1 <= @ViewBag.tamanho){
    <a asp-controller="ReceitaView" asp-action="ConfecionaReceita" asp-route-id=@ViewBag.id asp-route-passo=@ViewBag.seguinte class="btn btn-secondary">
        Seguinte
    </a>
}

@foreach (var ing in @Model[@ViewBag.passo - 1].ingredientes)
{
    <div class="img">
        <img class="rounded float-right" src=@Url.Content(ing.imagem) style="width: 150px; height: 150px;">
    </div>
}
