@model IEnumerable<WebChef.Models.Ingrediente>

@{
    ViewData["Title"] = "Editar Preferências";
}

<h1>Editar Preferências</h1>
<div class="col-xs-12" style="height:50px;"></div>
<table class="table">
    @foreach (var ingrediente in Model)
    {
    <tr>
        <td class="img"><img class="img-thumbnail" src=@Url.Content(ingrediente.imagem)  style="height:100px;height:100px"/></td>
        <td>
            @Html.DisplayFor(modelingrediente => ingrediente.designacao)
        </td>
        <td>
            <a asp-controller="ReceitaView" asp-action="IngredienteAPreferido" asp-route-id=@ingrediente.id_ingrediente class="btn btn-secondary">
                Adicionar Ingrediente a Preferidos
            </a>
        </td>
        <td>
            <a asp-controller="ReceitaView" asp-action="IngredienteAEvitar" asp-route-id=@ingrediente.id_ingrediente class="btn btn-secondary">
                Adicionar Ingrediente a Evitar
            </a>
        </td>
    </tr>
    }

</table>
