@model WebChef.Models.Ingrediente
@{
    ViewData["Title"] = "GetIngrediente";
}

<h1>@Model.designacao</h1>

<div class="image">
    <img class="card-img-top img-fluid" src=@Url.Content(Model.imagem) alt="Card image cap">
</div>


<div>
    <a asp-controller="ReceitaView" asp-action="VoltaAReceita" asp-route-id=@ViewBag.idReceita class="btn btn-secondary">
        Retroceder
    </a>
</div>