@model WebChef.Models.Receita

@{
    ViewData["Title"] = "RegistarReceita";
}

<h1>Registar Receita</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success">@TempData["Success"] </p>
        }
        @if (TempData["Fail"] != null)
        {
            <p class="alert alert-danger">@TempData["Fail"]</p>
        }
            <form asp-action="RegistarReceita">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="form-group">
                    <label asp-for="nome" class="control-label"></label>
                    <input asp-for="nome" class="form-control" />
                    <span asp-validation-for="nome" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="descricao" class="control-label"></label>
                    <input asp-for="descricao" class="form-control" />
                    <span asp-validation-for="descricao" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="dificuldade" class="control-label"></label>
                    <select asp-for="dificuldade">
                        <option value="Fácil">Fácil</option>
                        <option value="Médio">Médio</option>
                        <option value="Difícil">Difícil</option>
                    </select>
                    <span asp-validation-for="dificuldade" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="nr_pessoas" class="control-label"></label>
                    <input asp-for="nr_pessoas" class="form-control" />
                    <span asp-validation-for="nr_pessoas" class="text-danger"></span>
                </div>

                <table>
                    <tr>
                        <td>
                            <div class="form-group">

                                <label asp-for="horas" class="control-label"></label>
                                <input asp-for="horas" class="form-control" />
                                <span asp-validation-for="horas" class="text-danger"></span>
                            </div>
                         </td>
                        <td>
                            <div class="form-group">
                                <label asp-for="minutos" class="control-label"></label>
                                <input asp-for="minutos" class="form-control" />
                                <span asp-validation-for="minutos" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label asp-for="segundos" class="control-label"></label>
                                <input asp-for="segundos" class="form-control" />
                                <span asp-validation-for="segundos" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                </table>


                    <div class="form-group">
                        <label asp-for="categoria" class="control-label"></label>
                        <select asp-for="categoria">
                            <option value="Sopas">Sopas</option>
                            <option value="Sobremesas">Sobremesas</option>
                            <option value="Prato principal">Prato principal</option>
                            <option value="Salada">Salada</option>
                        </select>
                        <span asp-validation-for="categoria" class="text-danger"></span>
                    </div>


                    
                    <div class="form-group">

                        <label asp-for="energia" class="control-label"></label>
                        <input asp-for="energia" class="form-control" />
                        <span asp-validation-for="energia" class="text-danger"></span>
                    </div>
                            
                    <div class="form-group">
                        <label asp-for="lipidos" class="control-label"></label>
                        <input asp-for="lipidos" class="form-control" />
                        <span asp-validation-for="lipidos" class="text-danger"></span>
                    </div>
                            
                    <div class="form-group">
                        <label asp-for="saturados" class="control-label"></label>
                        <input asp-for="saturados" class="form-control" />
                        <span asp-validation-for="saturados" class="text-danger"></span>
                    </div>
                            
                    <div class="form-group">
                        <label asp-for="hidratosCarbono" class="control-label"></label>
                        <input asp-for="hidratosCarbono" class="form-control" />
                        <span asp-validation-for="hidratosCarbono" class="text-danger"></span>
                    </div>
                            
                    <div class="form-group">
                        <label asp-for="acucares" class="control-label"></label>
                        <input asp-for="acucares" class="form-control" />
                        <span asp-validation-for="acucares" class="text-danger"></span>
                    </div>
                            
                    <div class="form-group">
                        <label asp-for="fibras" class="control-label"></label>
                        <input asp-for="fibras" class="form-control" />
                        <span asp-validation-for="fibras" class="text-danger"></span>
                    </div>
                            
                    <div class="form-group">
                        <label asp-for="proteinas" class="control-label"></label>
                        <input asp-for="proteinas" class="form-control" />
                        <span asp-validation-for="proteinas" class="text-danger"></span>
                    </div>
                            
                    <div class="form-group">
                        <label asp-for="sal" class="control-label"></label>
                        <input asp-for="sal" class="form-control" />
                        <span asp-validation-for="sal" class="text-danger"></span>
                    </div>
                            


                    <div class="form-group">
                        <label asp-for="link_ajuda" class="control-label"></label>
                        <input asp-for="link_ajuda" class="form-control" />
                        <span asp-validation-for="link_ajuda" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="imagem" class="control-label"></label>
                        <input asp-for="imagem" class="form-control" />
                        <span asp-validation-for="imagem" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Adicionar" class="btn btn-primary" />
                    </div>
            </form>
    </div>
</div>


